<div id="footer" role="contentinfo" class="container-fluid panel-footer">
  <div class="row">
	  <div class="col">
<blockquote>
<h4>Historical Materials Content Warning</h4>
<p>Archival collections are historical materials and as such may include content reflecting various forms of oppression, trauma, or violence which reflect the perspectives and activities of those that created and participated in them. They are held by the archives as historical records of the time in which they were created or kept.
</p>
</blockquote>
</div>
  <div class="row"><hr></div>
  <div class="col-md-6">
	<p class="footer-items-first-block">Text and metadata are licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 (CC BY 4.0) license</p>
	</div>
     <div class="col-md-6">
       <p class="footer-items"><a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a>
         | <a href="https://www.unr.edu/accessibility/policy-and-procedures/commitment">Commitment to Accessibility</a>
         | <%= ASConstants.VERSION %>
         | <% if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank? %><a id='aspaceFeedbackLink' href='<%= AppConfig[:feedback_url]%>' target='_blank'>Help</a><% end %></p>
     </div>
  </div>
</div>
